<!doctype html>
<html lang = "ko"> <!-- 언어 설정 !-->
<head>
    <meta charset="utf-8"> <!-- meta - 메타데이터 정의 웹브라우저에 utf-8 문자 인코딩을 사용한다는 정보!-->
    <meta name = "viewprot" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel ="stylesheet" href = "{{ url_for('static', filename='bootstrap.min.css')}}">
    <!-- rel stylesheet의 값과 현재 문서의 관계 정의, href : 외부 스타일 시트 파일의 경로 지정!-->
    <link rel = "stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Keonoh Shim</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>

